bundle/neoterm bundle/nerdcommenter bundle/nerdtree bundle/supertab bundle/take-me-to-your-leader bundle/vim-abolish bundle/vim-airline bundle/vim-airline-themes bundle/vim-colorschemes bundle/vim-fugitive bundle/vim-markdown-preview bundle/vim-multiple-cursors bundle/vim-pasta bundle/vim-renamer bundle/vim-rhubarb bundle/vim-surround bundle/vim-trailing-whitespace bundle/Vundle.vim bundle/YouCompleteMe
